/* Reset custom styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    position: relative;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

/* Screen */

.screen{
    text-align: center;
    padding: 2rem;
    display: none;
}

.screen.active{
    display: block;
}


/* START SCREEN */

#start-screen h1{
    color: #e86a33;
    margin-block-end: 20px;
    font-size: 2.5rem;
}

#start-screen p{
    color: #666;
    margin-block-end: 30px;
    font-size: 1.1rem;
}

.quiz-header{
    margin-block-end: 20px;
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-block-end: 1rem;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;

}

.answer-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-block-end: 25px;
}

.answer-btn{
    background-color: #f8f0e5;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    text-align: left;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;
}

.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}

.answer-btn.incorrect{
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}

.progress-bar{
    height: 10px;
    border-radius: 5px;
    background-color: #f8f0e5;
    overflow: hidden;
    margin-block-start: 20px;
}

.progress{
    height: 100%;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.3s ease;
}

/* Result Screen */

#result-screen h1{
    color: #e86a33;
    margin-block-end: 20px;
}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-block-end: 30px;
}

.result-info p {
    color: #333;
    font-size: 1.2rem;
    margin-block-end: 10px;
}

#result-message{
    font-size: 1.5rem;
    color: #e86a33;
    font-weight: 600;
}


button{
    background-color: #e86a33;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #d45b28;
}

/* RESPONSIVE DESIGN */

@media (max-width: 500px) {
    .screen{
        padding: 1rem;
    }   

    #start-screen h1{
        font-size: 2rem;
    }

    #question-text{
        font-size: 1.3rem;
    }

    .answer-btn{
        padding: 12px;
    }

    button{
        padding: 12px 25px;
        font-size: 1rem;
    }
}